.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.item {
  position: relative;
  background: $main-color;
  overflow: hidden;

  // OVERLAY
  &::after {
    content: '';
    background: inherit;
    opacity: 0.9;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
    transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
  }

  &-img {
    display: block;
    height: auto;
    transform: translateZ(0);
    transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  }

  &-img::before {
    content: '';
    display: block;
    padding-top: 75%;
    overflow: hidden;
  }

  &-img img {
    height: auto;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 0;
  }

  &-txt {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    color: white;
    text-align: center;
    z-index: 1;
    transform: translateY(-20%);
    transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
    transition-delay: 300ms;
  }

  &-txt-wrap {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
  }

  &-text-title {
    margin-top: 0.25rem;
    padding: 0 1rem;
    font-size: 2rem;
  }

  &-txt-category {
    margin: 0;
    opacity: 0.7;
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  // HOVERS
  &:hover &-img {
    transform: scale(1.2);
  }

  &:hover &-txt {
    opacity: 1;
    transform: translateY(0);
  }

  &:hover::after {
    transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
  }
}