@import 'config';
@import 'utilities';
@import 'item_grid';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.5;
  // color: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $dark-color;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

// HEADER
#header {
  &-home {
    background: $bg-image no-repeat center center/cover;
    height: 100vh;
    color: white;

    .header-content {
      text-align: center;
      padding: 25% 0;

      h1 {
        font-size: 3.75rem;
        line-height: 1.25;
      }
    }
  }

  &-inner {
    background: $bg-image no-repeat 20% 30%/cover;
    height: 5.5rem;
    border-bottom: 3px solid $main-color;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    // text-decoration: none;
    color: white;
    text-transform: uppercase;
    // border for hover state, placed here to not alter txt
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &.current {
      border-color: $main-color;
    }

    &:hover {
      border-color: $medium-color;
    }
  }
}

#logo {
  height: 4rem;
  width: 4rem;
  text-transform: uppercase;
}

// HOME SECTIONS
#home {
  // HOME A
  &-a {
    .specials {
      margin-top: 3rem;
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: repeat(4, 1fr);

      .fas {
        color: $main-color;
        padding-bottom: 0.5rem;
      }
    }
  }

  // HOME B
  &-b {
    .stats {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      div {
        padding: 2.5rem 0;

        &:nth-child(odd) {
          background: $light-color;
        }

        &:nth-child(even) {
          background: $medium-color;
        }
      }

      li {
        line-height: 2;

        &.stats-title {
          font-size: 1.5rem;
        }

        &.stats-number {
          font-size: 2rem;
          font-weight: bold;
        }
      }
    }
  }

  // HOME C
  &-c {
    .process {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.5rem;
      // text-align: center;

      &-icon {
        position: relative;
        background: $dark-color;
        color: set-text-color($dark-color);
        height: 4.5rem;
        width: 4.5rem;
        line-height: 4.5rem;
        // text-align: center;
        padding: 2rem;
        border-radius: 50%;
        transition: all 1s;

        &:hover {
          background: $main-color;
          height: 5.5rem;
          width: 5.5rem;
          line-height: 5.5rem;

          .process-step {
            background: $dark-color;
            color: set-text-color($dark-color);
          }
        }
      }

      &-step {
        position: absolute;
        top: 0;
        right: 0;
        background: $main-color;
        color: set-text-color($main-color);
        height: 1rem;
        width: 1rem;
        line-height: .5;
        font-size: 1.5rem;
        padding: 1rem;
        border-radius: 50%;
        transition: all 1s;
      }
    }
  }
}

// ABOUT SECTIONS
#about {
  // ABOUT A
  &-a {
    .about-info {
      display: grid;
      grid-template-areas:
        'bio-img bio bio'
        'a1 a2 a3';
      grid-gap: 1.25rem;
    }

    .bio-img {
      grid-area: bio-img;
    }

    .bio {
      grid-area: bio;
      border-left: 3px solid $main-color;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0.75rem;
    }

    .award-1 {
      grid-area: a1;
    }

    .award-2 {
      grid-area: a2;
    }

    .award-3 {
      grid-area: a3;
    }

    .award-1 .fas,
    .award-2 .fas,
    .award-3 .fas {
      color: $main-color;
      margin: 1rem;
    }
  }

  // ABOUT B
  &-b {
    .progress {
      background: $medium-color;
      height: 1.25rem;
      border-radius: 0.25rem;
      margin-bottom: 0.5rem;
      overflow: hidden;

      div {
        background: $main-color;
        // color: white;
        // text-align: center;
        height: 100%;
      }
    }
  }

  // ABOUT C
  &-c {
    .about-logos {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;

      img {
        margin: auto;
        width: 50%;
      }
    }
  }

  // ABOUT D
  &-d {
    .testimonials {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 0.5rem;

      p {
        padding: 0.5rem;
        border: 1px solid $medium-color;
        border-radius: 0.25rem;
      }

      ul {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        // list-style: none;

        img {
          height: 3rem;
          width: 3rem;
          border-radius: 50%;
          margin-right: 0.5rem;
        }
      }
    }
  }
}

// CONTACT SECTIONS
#contact {
  // CONTACT A
  &-a {
    .txt-fields {
      display: grid;
      grid-template-areas: 
        'name email'
        'subject phone'
        'msg msg';
      grid-gap: 1.25rem;
      margin-bottom: 1.25rem;

      // GRID AREAS
      .name-input {
        grid-area: name;
      }
      .subject-input {
        grid-area: subject;
      }
      .email-input {
        grid-area: email;
      }
      .phone-input {
        grid-area: phone;
      }
      .msg-input {
        grid-area: msg;
        height: 3.5rem;
      }

      .txt-input {
        padding: 0.5rem 1rem;
      }
    }

    button[type='submit'] {
      width: 50%;

      &:hover {
        color: set-text-color($main-color);
      }
    }
  }

  // CONTACT B
  &-b {
    .contact-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
    }
  }

  &-c {
    h1 {
      font-size: 4rem;
      text-align: center;
    }
  }
}

footer {
  background: $dark-color;
  color: white;
  height: 5rem;

  .footer-content {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .social a {
      color: $light-color;
    }

    .social .fab {
      margin-right: 1rem;
      border: 2px white solid;
      border-radius: 50%;
      height: 1.25rem;
      width: 1.25rem;
      line-height: 1.25rem;
      text-align: center;
      padding: 0.5rem;

      &:hover {
        background: $main-color;
      }
    }
  }
}

@import 'media';